@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group {
  @apply flex flex-col gap-2 items-start;

  label {
    @apply flex text-sm font-medium text-neutral-600 mb-0 items-center gap-2;
  }

  input[type="text"],
  [type="email"],
  [type="password"] {
    @apply bg-neutral-100 text-sm p-3 rounded-lg w-full;
  }

  input[type="checkbox"] {
    @apply size-4;
  }
}

a {
  @apply text-sm text-primary no-underline transition duration-300 hover:brightness-90;
}

.btn {
  @apply text-sm rounded-3xl py-3 px-6 flex justify-center items-center gap-2 border border-neutral-300 cursor-pointer;

  &.primary {
    @apply bg-primary border-primary text-white;
  }

  &.dark {
    @apply bg-neutral-900 border-neutral-900 text-white;
  }
}

.mocked {
  @apply cursor-not-allowed border-4 border-red-700 border-dashed;
}

.thin-scrollbar {
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer e Edge */

  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
}

.container {
  @apply p-8 md:px-10;
}
