@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group {
  @apply flex flex-col gap-2 items-start;

  label {
    @apply flex text-sm font-medium text-neutral-600 mb-0 items-center gap-2;
  }
}

input[type="text"],
textarea,
[type="email"],
[type="date"],
[type="time"],
[type="password"] {
  @apply bg-neutral-100 text-sm p-3 rounded-lg w-full resize-none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  @apply size-4;
}

select {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==");
  background-size: 0.7rem;
  background-position: right 1rem center;
  @apply bg-neutral-100 text-sm p-3 rounded-lg w-full text-gray-400 appearance-none pr-8 pl-2 bg-no-repeat;
}

a {
  @apply text-sm text-primary no-underline transition duration-300 hover:brightness-90;
}

.btn {
  @apply duration-300 hover:brightness-90 text-sm rounded-3xl py-3 px-6 flex justify-center items-center gap-2 border border-neutral-300 cursor-pointer;

  &.small {
    @apply px-6 py-2;
  }

  &.primary {
    @apply bg-primary border-primary text-white;
  }

  &.ghost {
    @apply bg-transparent text-neutral-600 border-none;
  }

  &.white {
    @apply bg-white text-primary;
  }

  &.dark {
    @apply bg-neutral-900 border-neutral-900 text-white;
  }

  &.gray {
    @apply bg-gray-200 text-sm rounded-3xl text-gray-500 border-0;
  }
}

.mocked {
  @apply cursor-not-allowed border-4 border-red-700 border-dashed;
}

.thin-scrollbar {
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer e Edge */

  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
}

.theme-container {
  @apply p-8 md:px-10;
}

.custom-full-calendar {
  button[title="Sincronizar"] {
    @extend .btn;
    @extend .gray;
    &:hover {
      @apply bg-gray-200 text-gray-500;
    }
  }

  .fc-toolbar-chunk {
    @apply flex items-center gap-1;

    .fc-toolbar-title {
      &::first-letter {
        @apply uppercase;
      }
    }
  }

  .fc-toolbar-ltr {
    .fc-toolbar-chunk {
      &:nth-child(1) {
        gap: 0;
        button {
          margin-left: 0;
          @apply bg-gray-100 border-0 hover:bg-gray-300 active:bg-gray-200 !ring-0 text-gray-400;
          &:nth-child(1) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:nth-child(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          &:nth-child(3) {
            @apply text-gray-600 ml-3 rounded-lg px-6 font-semibold;
          }
        }
      }

      &:nth-child(3) {
        gap: 0;
        button {
          margin-left: 0;
          @apply bg-gray-100 border-0 hover:bg-gray-300 active:bg-gray-200 !ring-0 text-gray-400 px-6 hover:text-gray-400;
          &:nth-child(1) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:nth-child(2) {
            border-radius: 0;
          }

          &:nth-child(3) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          &.fc-button-active {
            @apply bg-gray-300 text-gray-700 font-semibold;
          }
        }
      }
    }
  }

  table {
    @apply rounded-2xl overflow-hidden;
    .fc-col-header-cell-cushion {
      @apply text-gray-700 !p-6 capitalize;
    }
  }
}
